@media screen {
	img.logo {
		width: 150px;
		height: 40px;
		margin-top: 8px;
		margin-left: 10px;
		margin-right: 10px;
		display: block;
		/*background: url("../img/lg.png") 50% 50% no-repeat;
		background-size: contain;
		*/
	}

	@media only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (min--moz-device-pixel-ratio: 2),
		only screen and (-o-min-device-pixel-ratio: 2/1),
		only screen and (min-device-pixel-ratio: 2),
		only screen and (min-resolution: 192dpi),
		only screen and (min-resolution: 2dppx) {
		img.logo {
			/*background-image: url("../img/lg.png");
			background-size: 200px 40px;
			*/
		}
	}

	/*
    #search-word {
        margin-left: 0;
    }
    */
}

@media screen and (max-width: 568px) {
	img.logo {
		width: 150px;
		height: 40px;
		margin-top: 8px;
		margin-left: 10px;
		margin-right: 5px;
		display: block;
		/*background: url("../img/lg.png") 50% 50% no-repeat;
		background-size: contain;
		*/
	}

	@media only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (min--moz-device-pixel-ratio: 2),
		only screen and (-o-min-device-pixel-ratio: 2/1),
		only screen and (min-device-pixel-ratio: 2),
		only screen and (min-resolution: 192dpi),
		only screen and (min-resolution: 2dppx) {
		img.logo {
			/*
			background-image: url("../img/lg.png");
			background-size: 44px 40px;
			*/
		}
	}
}
